body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  * {
    margin: 0;
    padding: 0;
    background-color: ;
    box-sizing: border-box;
  }
  .about-section {
    padding: 10px;
    text-align: center;
    background-color: #A5C9CA;
    color: #2C3333;
  }
  .heading_about{
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
  }
  .desc{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }
  
  .card {
    margin: 8%;
    background: #A5C9CA;
    width: 250px;
    height: 300px;
    box-shadow: 0 2px 3px 0px #A5C9CA
    border-radius: 3px;
    transition:.2s all;
    cursor:pointer;
    
   
    text-align:center;
    font-size:20px;
    padding :20px;
    
  }
  .name{
    text-decoration: overline;
    font-family: 'Cinzel Decorative', cursive;
  }
  

  
  .container:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
  }
  
  .container:hover .card:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: #A5C9CA;
    background: #212b38;
    color: #A5C9CA;
    
  }
  footer{
    border-top-left-radius: 5px;
    position: relative;
    background-color: #A5C9CA;
    height: 20%;
    width: auto;
    position: relative;
    bottom: 0%;
  }
  .footer_logo{
    text-decoration: overline;
    font-size: 100%;
    text-align: center;
    color: #395B64;
  }
  .footer_text{
    text-align: center;
    color: #395B64;
    font-family: 'Cinzel Decorative', cursive;
  
  }
  .box_mysql{
    height: 550px;
      width: 30%;
      background-color: #212b38;
      border-radius: 25px;
      position: relative;
      bottom: 550px;
      left: 900px;
  }
  :root {
    --color-primary: #A5C9CA;
    --color-white: #e9e9e9;
    --color-black: #2C3333;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .logo {
    color: var(--color-white);
    font-size: 50px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Acme', sans-serif;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  } 
  .name_img{
    height: 200px;
    width: 200px;
  }
  .link_name{
    height: 35px;
    width: 35px;
  }
  .gmail{
    height: 35px;
    width: 35px;
  }